SUBSYSTEM=="block", KERNEL=="sd?", ATTRS{idVendor}=="1e29", ATTRS{idProduct}=="040e", NAME="robotino3io_bootloader", TAG+="systemd", ENV{SYSTEMD_WANTS}="robotino3-firmware.service", SYMLINK+="robotino3io_bootloader"
