[Unit]
Description="laserd3_ethernet"
BindsTo=rpcd.service
After=rpcd.service

[Service]
ExecStart=/usr/local/robotino/daemons/bin/laserd3 -channel=0
Restart=on-failure
RestartSec=10s
StartLimitIntervalSec=0

[Install]
WantedBy=rpcd.service

