[Unit]
Description="rpcd"
After=network.target

[Service]
ExecStart=/usr/local/robotino/daemons/bin/rpcd -v
Restart=on-failure

[Install]
WantedBy=multi-user.target
